<%- include('./includes/header.ejs') %> <%- include('./includes/navbar.ejs') %>

<div class="container my-3">
  <div class="row">
    <div class="mx-auto col-lg-8">
      <h1 class="text-center">Contato</h1>
      <p class="text-center mb-4">Crie ou edite seu contato abaixo</p>

      <%- include('./includes/messages.ejs') %> 

      <% if(cc._id){ %> 
      <form action="/contact/edit/<%= cc._id %> " method="post">
      <% }else{ %> 
        <form action="/contact/register" method="post">
      <% } %> 
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" value="<%= cc.nome %>" id="nomeReg" placeholder="nome" name="nome">
          <label for="nomeReg">Nome</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="sobrenome" value="<%= cc.sobrenome %>" placeholder="sobrenome" name="sobrenome">
          <label for="sobrenome">Sobrenome</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" value="<%= cc.email %>" placeholder="nome@exemplo.com" name="email">
          <label for="passwordReg">Email</label>
        </div>
        <div class="form-floating">
          <input type="tel" class="form-control" id="tel" value="<%= cc.telefone %>" placeholder="tel" name="telefone">
          <label for="tel">Telefone</label>
        </div>

        <button class="btn btn-primary my-3" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<%- include('./includes/footer.ejs') %>
