<%- include('./includes/header.ejs') %> <%- include('./includes/navbar.ejs') %>

<div class="container my-3">
  <div class="row">
    <div class="mx-auto col-lg-8">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center mb-4">Seus contatos estão abaixo</p>

      <%- include('./includes/messages.ejs') %> 
      <% if(contacts){ %>
      <div class="table-responsive">
        <table class="table mt-4">
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefone</th>
            <th>email</th>
            <th></th>
            <th></th>
          </tr>
          <% contacts.forEach(contact => {%>
          <tr>
            <td><%= contact.nome %></td>
            <td><%= contact.sobrenome %></td>
            <td><%= contact.telefone %></td>
            <td><%= contact.email %></td>
            <td>
              <a class="link-primary" href="/contact/index/<%- contact._id %>"
                >editar</a
              >
            </td>
            <td>
              <a class="link-danger" href="/contact/delete/<%- contact._id %>"
                >excluir</a
              >
            </td>
          </tr>
          <% })} %>
        </table>
      </div>
      <% if(contacts.length == 0){ %> 
        <p class="text-center">Não existe contatos ainda.</p>
      <% }%>
    </div>
  </div>
</div>

<%- include('./includes/footer.ejs') %>
